@font-face {
  font-family: 'YESGothic-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{
  font-family: "YESGothic";
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

/*top*/
#top{
  width: 100%;
  background-color: #333;
  height: 150px;
  position: relative;
}

.top_inner{
  width: 1320px;
  margin: auto;
  position: relative;
}

.top_inner h1{
  position: absolute;
  top: 30px;
  left: 60px;
}

.top_inner h2{
  position: absolute;
  top: 95px;
}

.top_inner .login{
 position: absolute;
 right: 0;
 top: 30px;
}

.top_inner .login li a{
  color: #fff;
}

.top_inner .login li a:hover{
  color: #ccc;
}


.top_inner .login li{
  float: left;
  padding-left: 30px;
  font-size: 16px;
}

.top_inner .menu{
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 85px;
  width: 498px;
  transform: translateX(-50%);
}

.top_inner> .menu> li{
  float: left;
  font-size: 20px;
  position: relative;
}

.top_inner> .menu> li> a{
  display: block;
  padding: 10px 20px; 
  color: #fff;
}

.top_inner> .menu> li> a:hover{
  color: #ccc;
}

.sub{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 150px;
  position: absolute;
  margin: auto;
  left: -35px;
  display: none;
  border-bottom: 1px solid #2a242a;
}

.sub1{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 150px;
  position: absolute;
  margin: auto;
  left: -15px;
  display: none;
  border-bottom: 1px solid #2a242a;
  
}

.sub2{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 150px;
  position: absolute;
  margin: auto;
  left: -25px;
  display: none;
  border-bottom: 1px solid #2a242a;
}

.sub3{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  position: absolute;
  margin: auto;
  left: -13px;
  display: none;
  border-bottom: 1px solid #2a242a;
}


.sub ul{
  margin: auto;
}

.sub1 ul{
  margin: auto;
}

.sub2 ul{
  margin: auto;
}

.sub3 ul{
  margin: auto;
}


.sub a{
  display: block;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
 
}

.sub1 a{
  display: block;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
 
}

.sub2 a{
  display: block;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
 
}

.sub3 a{
  display: block;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
 
}

.sub a:hover{
  background-color: #d4b180;
}

.sub1 a:hover{
  background-color: #d4b180;
}

.sub2 a:hover{
  background-color: #d4b180;
}

.sub3 a:hover{
  background-color: #d4b180;
}

.top_inner .menu li:hover .sub{
  display: block;
}

.top_inner .menu li:hover .sub1{
  display: block;
}

.top_inner .menu li:hover .sub2{
  display: block;
}

.top_inner .menu li:hover .sub3{
  display: block;
}

input{
  position: absolute;
  width: 197px;
  height: 35px;
  color: #fff;
  border: 1px solid #d4b180;
  padding-left: 45px;
  right: 0;
  top: 85px;
  background: url(../images/search.png) no-repeat 5px 5px;
}

.banner img{
  width: 100%;
}

.align{
  margin-top: 80px;
  background: url(../images/bg1.png) no-repeat center top;
  height: 850px;
}


.align h2{
  padding-top: 150px;
  color: #25212c;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 75px;
  font-size: 30px;
  font-weight: bold;
}


.align ul li{
  float: left;
  position: relative;
  overflow: hidden;
}

.align ul li:nth-child(2){
margin: 0 50px;
}

.fur1{
  margin: auto;
  width: 1190px;
}


.detail1{
  position: absolute;
  left: -100%;
  top: 0px;
  background-color: rgb(48, 35, 48, 0.8)  ;
  width: 100%;
  height: 600px;
  transition: all 1s;/*서서히 변화되게 만들기*/
  opacity: 0;
}

.detail1 h3{
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #d4b180;
  margin-top: 25px;
  margin-bottom: 40px;
}

.detail1 h4{
  margin-top: 100px;
  text-align: center;
}

.detail1 p{
  color: #fff;
  padding:0 20px 15px;
}

.detail1 li img{
  display: block;
}

.align li:hover .detail1{
  opacity: 1;/*보이게 만들기*/
  left: 0;
}

.caution{
  margin-top: 80px;
  background: url(../images/bg2.png) no-repeat center top;
  height: 850px;
}

.caution h2{
  padding-top: 150px;
  color: #f2e7d6;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 75px;
  margin-left: 1000px;
  font-size: 30px;
  font-weight: bold;
}

.caution ul li{
  float: left;
  position: relative;
  overflow: hidden;
}

.caution ul li:nth-child(2){
  margin: 0 40px;
  }

.fur2{
  margin: auto;
  width: 1280px;
}

.detail2{
  position: absolute;
  bottom: -100%;
  top: 0px;
  background-color: rgb(103, 101, 117, 0.7);
  width: 100%;
  height: 600px;
  transition: all 1s;/*서서히 변화되게 만들기*/
  opacity: 0;
}

.detail2 p{
  color: #fff;
  text-align: center;
  padding-top: 150px;
}

.detail2 .j{
  margin-top: 90px;
  padding: 5px 20px;
  
}

.detail2 .j a{
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  background: url(../images/plus.png) no-repeat 15px 50%;
  padding: 5px 20px 5px 40px;
}

.j a:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.detail2 li img{
  display: block;
}

.caution li:hover .detail2{
  opacity: 1;/*보이게 만들기*/
  left: 0;
}

.storage{
  margin-top: 100px;
  background: url(../images/bg3.png) no-repeat center top;
  height: 975px;
}

.storage h2{
  padding-top: 150px;
  margin-left: 100px;
  color: #25212c;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 75px;
  font-size: 30px;
  font-weight: bold;
}

.fur3{
  margin: auto;
  width: 1320px;
}

.storage ul li{
  float: left;
  margin-right: 25px;
  position: relative;
  overflow: hidden;
}

.storage ul li:nth-child(3){
  margin-top: 15px;
  }

.storage ul li:nth-child(4){
  margin-top: 15px;
}

.detail3{
  position: absolute;
  bottom: -106px;
  background-color: rgb(48, 35, 48, 0.7);
  width: 100%;
  height: 106px;
  transition: all 1s;/*서서히 변화되게 만들기*/
  opacity: 1;
}

.detail3 p{
  color: #fff;
  text-align: center;
  padding-top: 45px;
}

.storage li:hover .detail3{
  opacity: 1;/*보이게 만들기*/
  bottom: 0;
}

.detail3 li img{
  display: block;
}

.fur4{
  margin: auto;
  width: 1215px;
}

.conceps{
  margin-top: 80px;
  background: url(../images/bg4.png) no-repeat center top;
  height: 1275px;
}

.conceps h2{
  padding-top: 150px;
  color: #f2e7d6;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 75px;
  margin-left: 890px;
  font-size: 30px;
  font-weight: bold;
}

.conceps ul li{
  margin-top: 30px;
  position: relative;
  width: 989px;
  overflow: hidden;
}

.conceps ul li:nth-child(2){
  margin: 40px 0;
}

.detail4 h3{
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 25px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}

.detail4 p{
  color: #fff;
  font-size: 18px;
  padding-top: 20px;
}

.detail4{
  position: absolute;
  top: 0px;
  right: -989px;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 263px;
  transition: all 1s;/*서서히 변화되게 만들기*/
  opacity: 1;
  padding: 80px 80px 30px 80px;
  box-sizing: border-box;
}

.conceps li:hover .detail4{
  opacity: 1;/*보이게 만들기*/
  right: 0;
}

.detail4 li img{
  display: block;
}

.detail4 .j{
  padding-top: 0;
  text-align: right;
}

.detail4 .j a{
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  background: url(../images/plus.png) no-repeat 15px 50%;
  padding: 5px 20px 5px 40px;
}

.j a:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

/*footer*/
#footer{
  width: 100%;
  background-color: #333333;
  position: relative;
}

.footer_inner{
  position: relative;
  width: 1320px;
  height: 400px;
  margin: auto;
}

.footer_inner h1{
  position: absolute;
  top: 15%;
  left: 5%;
}

.footer_inner .sns{
  position: absolute;
  top: 60%;
  left: 3.7%;
}

.footer_inner .sns li{
  float: left;
  
}

.footer_inner .sns li a:hover{
  opacity: 0.5;
}

.footer_inner .center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
}

.footer_inner .center p{
  color: #fff;
}

.footer_inner .center .nobleniture{
  padding-bottom: 15px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.footer_inner .center .e-mail{
padding-top: 25px;
}

.footer_inner .center .copyright{
  padding-top: 85px;
  color: rgba(255, 255, 255, 0.5);
}

.footer_inner .us{
  position: absolute;
  right: 5%;
  top: 15%;
}

.footer_inner .us .contact{
  font-size: 23px;
  padding-bottom: 15px;
}

.footer_inner .us .c{
  font-size: 35px;
}

.footer_inner .us .online{
  padding-top: 20px;
}

.footer_inner .us .offline{
  padding-top: 27px;
}

.footer_inner .us .offline2{
  padding-bottom: 27px;
}


.footer_inner .us p{
  color: #fff;
}




